.xr-button {
  background-color: #335168; /* cello */
  border: none;
  color: pink;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

.xr-button:hover {
  background-color: #3e8e41; /* Dark green */
}
